#autocomplete{
	width: 15%;
	font-size: 0.9em;
	padding: 3px;
}

form{
	margin: 10px 0;
}

#result{
	color: #303030;
	border: 2px solid #1A1A1A;
	display: table;
	position: absolute;
}

.item{
	padding: 3px;
	background-color: #3d3d3d;
	font-size: 0.9em;
}

.item:hover{
	cursor: pointer;
	background-color: #363636;
}
