body{
	background-color: #242424;
}

a:link{
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* WHITE TEXT */

h1{
	color: white;
	margin: 0;
}

h2{
	color: white;
}

p{
	margin: 0;
	color: white;
}

#credit{
	padding-bottom: 30px;
}

#credit a:link{
	text-decoration: underline;
}

#credit a:visited{
	text-decoration: underline;
}

#credit a:hover{
	color: #D6D6D6;
}

#para1{
	width: 45em;
}

#navbar a{
	float: right;
	display: inline-block;
	background-color: #424242;

	padding: 10px;

	margin: 5px;

	border-radius: 6px;
}